*{
  box-sizing: border-box;
}

html,body{
  margin: 0;
  padding: 0;
  /* overflow-x:hidden; ; */
  width: 100%;
  height: 100vw;
  font-size: 24px;
  background-color: #014F8E;
}
#root{
  width: 100%;
  height: 100vh;
}

.App{
  width: 100%;
  height: 100vh;
}
.main{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: red;
  top: 0px;
}
.output{
  height: calc(100% - 50px);
  background-color: rgb(255, 255, 255);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;


}
canvas.audio-react-recorder__canvas{
  width: 30px !important;

}
.controls{
  width: 100%;
  height: 80px;
  background-color:#014F8E;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon{
  color: #fff;
  font-size: 30px;
  display: block;
  box-sizing: border-box;
  padding: 10px 15px;
  border-radius: 50%;

}
.icon:hover{
  color: yellow;
}

.recording{
  background-color:#014F8E;
}



.pulse-ring {
  content: '';
  width: 60px;
  height: 60px;
  text-align: center;
  background: #014F8E;
  border: 5px solid #014F8E;
  border-radius: 50%;
  position: absolute;
  animation: pulsate infinite 1.5s;
}
@keyframes pulsate {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.3, 1.3);
    opacity: 0;
  }
}
.z-1{
  z-index: 2;
  position: fixed;
}


.dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #014F8E;
  color: #014F8E;
  box-shadow: 9999px 0 0 -5px #014F8E;
  animation: dotPulse 1.5s infinite linear;
  animation-delay: .25s;
}

.dot-pulse::before, .dot-pulse::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #014F8E;
  color: #014F8E;
}

.dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #014F8E;
  animation: dotPulseBefore 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #014F8E;
  animation: dotPulseAfter 1.5s infinite linear;
  animation-delay: .5s;
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #014F8E;
  }
  30% {
    box-shadow: 9984px 0 0 2px #014F8E;
  }
  60%,
  100% {
    box-shadow: 9984px 0 0 -5px #014F8E;
  }
}

@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #014F8E;
  }
  30% {
    box-shadow: 9999px 0 0 2px #014F8E;
  }
  60%,
  100% {
    box-shadow: 9999px 0 0 -5px #014F8E;
  }
}

@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #014F8E;
  }
  30% {
    box-shadow: 10014px 0 0 2px #014F8E;
  }
  60%,
  100% {
    box-shadow: 10014px 0 0 -5px #014F8E;
  }
}

.counter{
  color: white;
}
.textSearch{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 30px;
  max-width: 70%;
}
.textSearch input{
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
  padding: 0 20px;
  width: 100%;

}
input:focus{
  outline: none;
}
.textSearch .icon {
  font-size: 20px;
}